
html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
body{
    margin:0px;
    background-color: #1A1A35;
	min-height: 100vh;
    color: white;
    }
    /* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	font-family: var(--font1);
	width: 100vw;
}
#header h1
{
	padding-top: 20px;
	padding-bottom: 10px; /*Added*/
}
#header .header {
	min-height: 8vh;
	
	transition: 0.3s ease background-color;
}

#header .brand{
	margin: 10%;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	/* margin: 20px; */
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	margin-right: 20px;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	display: block;
	font-size: 12sp;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding-left: 80px; /*Added*/
	padding-top:25px;/*Added*/

}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 12sp;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 50px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */
.center
{
	margin: 0;/*Added*/
}
/* Hero Section */
#hero {
	background-image: url(./img/hero-bg.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 50px;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

.active{
	padding-left: 0px;
}

	/* End header */
      .content {
        height: 100%;
        display: inline-grid;
        grid-template-rows: repeat(1,1fr);
        grid-template-columns: repeat(2,1fr);
        padding: 9px;
        position: relative;
      }
      
      
      .content-left {
        font-family: var(--font1);
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		margin-top: auto;
		width: auto;
        padding: 49px;
        z-index: 1;
      }
      
      .content-right {
		display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .content-right img {
        max-width: 100%;
        height: auto;
      }
      
      .big-heading{
		  display: flex;
		  justify-content: center;
          font-size: 100px;
      }
	  .big-heading-2{
		display: flex;
		justify-content: center;
		font-size: 40px;
		color: #FFB3B3;
	}
	.paragraph{
		font-size: 18px;
	}

	.blog-links{
		margin-top: 50px;
	}

	.links{
		height: 100px;
		background: #24244a;
		display: flex;
		color: #FFB3B3;
		justify-content: center;
		align-items: center;
		font: var(--font1);
		font-size: 60px;
		font-weight: 500;
		letter-spacing: 1rem;
		text-decoration: none;
		margin-left: 60px;
		margin-right: 60px;
		border-radius: 60px;
	}

a {
	color: inherit;
  }
  
  .cards-wrapper {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem;
	padding: 4rem;
	margin: 0 auto;
	width: max-content;
  }
  
  .card {
	font-family: 'Heebo';
	--bg-filter-opacity: 0.5;
	background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
	height: 20em;
	width: 15em;
	font-size: 1.5em;
	color: white;
	border-radius: 1em;
	padding: 1em;
	/*margin: 2em;*/
	display: flex;
	align-items: flex-end;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 5em -1em black;
	transition: all, var(--transition-time);
	position: relative;
	overflow: hidden;
	border: 10px solid #ccc;
	text-decoration: none;
  }
  
  .card:hover {
	transform: rotate(0);
  }
  
  .card h1 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.2em;
  }
  
  .card p {
	font-size: 0.75em;
	font-family: 'Open Sans';
	margin-top: 0.5em;
	line-height: 2em;
  }
  
  .card .tags {
	display: flex;
  }
  
  .card .tags .tag {
	font-size: 0.75em;
	background: rgba(255,255,255,0.5);
	border-radius: 0.3rem;
	padding: 0 0.5em;
	margin-right: 0.5em;
	line-height: 1.5em;
	transition: all, var(--transition-time);
  }
  
  .card:hover .tags .tag {
	background: var(--color);
	color: white;
  }
  
  .card .date {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.75em;
	padding: 1em;
	line-height: 1em;
	opacity: .8;
  }
  
  .card:before, .card:after {
	content: '';
	transform: scale(0);
	transform-origin: top left;
	border-radius: 50%;
	position: absolute;
	left: -50%;
	top: -50%;
	z-index: -5;
	transition: all, var(--transition-time);
	transition-timing-function: ease-in-out;
  }
  
  .card:before {
	background: #ddd;
	width: 250%;
	height: 250%;
  }
  
  .card:after {
	background: white;
	width: 200%;
	height: 200%;
  }
  
  .card:hover {
	color: var(--color);
  }
  
  .card:hover:before, .card:hover:after {
	transform: scale(1);
  }
  
  .card-grid-space .num {
	font-size: 3em;
	margin-bottom: 1.2rem;
	margin-left: 1rem;
  }
  
  .info {
	font-size: 1.2em;
	display: flex;
	padding: 1em 3em;
	height: 3em;
  }
  
  .info img {
	height: 3em;
	margin-right: 0.5em;
  }
  
  .info h1 {
	font-size: 1em;
	font-weight: normal;
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 1285px) {
	.cards-wrapper {
	  grid-template-columns: 1fr 1fr;
	}
  }
  
  @media screen and (max-width: 900px) {
	.cards-wrapper {
	  grid-template-columns: 1fr;
	}
	.info {
	  justify-content: center;
	}
	.card-grid-space .num {
	  margin-left: 0;
	  text-align: center;
	}
  }
  
  @media screen and (min-width:300px) and (max-width: 500px) {
	.cards-wrapper {
	  padding: 4rem 2rem;
	}
	.card {
	  max-width: calc(100vw - 6rem);
	}
  }
  
  @media screen and (min-width:300px) and (max-width: 450px) {
	.info {
	  display: block;
	  text-align: center;
	}
	.info h1 {
	  margin: 0;
	}
	.links{
		margin: 0;
		width: 100%;
		font-size: 100%;
		align-items: center;
	}
  }

/* End Hero Section */
   /* Media Query For Desktop */
   @media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		padding-left: 0px;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	.active{
		padding-left: 0px;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 20px;
	}
	#header .nav-list ul a:after {
		display: none;
	}
}
@media only screen and (min-width: 300px) and (max-width:1200px) {
	#header
	{
		font-size:12px;
	}
	#logo h1
	{
		margin-bottom:1%;

	}
	  #menu ul li
	{
		display:block;
	}
	.content-left {
		display: block;
	  flex: 1
	}
	.content{
	  display: block;
	}
	.content-right {
	  flex: 2
	}
	.content-right img {
	  width: 100%;
	  max-width: 600px;
	  height: auto;
	}
	.big-heading{
		font-size: 50px;
	}
	
}
    