<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="../utils.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DMADM</title>
</head>
<body>

      <section style="margin-left: auto; margin-right: auto;">
        <div id="title-bg" style="--bg-img: url('/../assets/images/Historic Personal Computers Illustration.png') ">
            <div class="title-content">
                <p id="title">Database Management and Data Mining</p>
                <p id="stmt" style="color: #E79DF9;">Big data storage and processing</p>
                <p>Contrary to popular belief, Lorem Ipsum is<br>
                    not simply random text. It has roots in a<br>
                    piece of classical Latin literature from 45<br>
                    BC, making it over 2000 years old. Richard</p>
            </div>
          </div>
      </section>

      <section style="margin-left: auto; margin-right: auto;">
        <div class="grid-container">
            <div class="grid-item">
                <h1 style="color: #E79DF9; text-align: center; margin: 50px; font-size: 30px;">What is Lorem
                    Ipsum?</h1>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is <br>
                        not simply random text. It has roots in a <br>
                        piece of classical Latin literature from 45 <br>
                        BC, making it over 2000 years old. Richard <br>
                        McClintock, a Latin professor at Hampden- <br>
                        Sydney College in Virginia, looked up one of <br>
                        the more obscure Latin words, consectetur, <br>
                        from a Lorem Ipsum passage, and going <br>
                        through the cites of the word in classical <br>
                        literature, discovered the undoubtable <br>
                        source.
                    </p>
            </div>
            <div class="grid-item">
                <img src="\assets\images\color and font.png" alt="">
            </div>
            <div class="grid-item"><p>
                Contrary to popular belief, Lorem Ipsum is<br>
                not simply random text. It has roots in a <br>
                piece of classical Latin literature from 45<br>
                BC, making it over 2000 years old. Richard<br>
                McClintock, a Latin professor at Hampden-<br>
                Sydney College in Virginia, looked up one of<br>
                the more obscure Latin words, consectetur,<br>
                from a Lorem Ipsum passage, and going<br>
                through the cites of the word in classical<br>
                literature, discovered the undoubtable<br>
                source.
            </p></div>
            <div class="grid-item">
                <p>
                    Contrary to popular belief, Lorem Ipsum is<br>
                    not simply random text. It has roots in a <br>
                    piece of classical Latin literature from 45<br>
                    BC, making it over 2000 years old. Richard<br>
                    McClintock, a Latin professor at Hampden-<br>
                    Sydney College in Virginia, looked up one of<br>
                    the more obscure Latin words, consectetur,<br>
                    from a Lorem Ipsum passage, and going<br>
                    through the cites of the word in classical<br>
                    literature, discovered the undoubtable<br>
                    source.
                </p>
            </div>
            <div class="grid-item">
                <p>
                    Contrary to popular belief, Lorem Ipsum is<br>
                    not simply random text. It has roots in a <br>
                    piece of classical Latin literature from 45<br>
                    BC, making it over 2000 years old. Richard<br>
                    McClintock, a Latin professor at Hampden-<br>
                    Sydney College in Virginia, looked up one of<br>
                    the more obscure Latin words, consectetur,<br>
                    from a Lorem Ipsum passage, and going<br>
                    through the cites of the word in classical<br>
                    literature, discovered the undoubtable<br>
                    source.
                </p>
            </div>
            <div class="grid-item">
                <p>
                    Contrary to popular belief, Lorem Ipsum is<br>
                    not simply random text. It has roots in a <br>
                    piece of classical Latin literature from 45<br>
                    BC, making it over 2000 years old. Richard<br>
                    McClintock, a Latin professor at Hampden-<br>
                    Sydney College in Virginia, looked up one of<br>
                    the more obscure Latin words, consectetur,<br>
                    from a Lorem Ipsum passage, and going<br>
                    through the cites of the word in classical<br>
                    literature, discovered the undoubtable<br>
                    source.
                </p>
            </div>
            <div class="grid-item">
                <p>
                    Contrary to popular belief, Lorem Ipsum is<br>
                    not simply random text. It has roots in a <br>
                    piece of classical Latin literature from 45<br>
                    BC, making it over 2000 years old. Richard<br>
                    McClintock, a Latin professor at Hampden-<br>
                    Sydney College in Virginia, looked up one of<br>
                    the more obscure Latin words, consectetur,<br>
                    from a Lorem Ipsum passage, and going<br>
                    through the cites of the word in classical<br>
                    literature, discovered the undoubtable<br>
                    source.
                </p>
            </div>
            <div class="grid-item">
                <p>
                    Contrary to popular belief, Lorem Ipsum is<br>
                    not simply random text. It has roots in a <br>
                    piece of classical Latin literature from 45<br>
                    BC, making it over 2000 years old. Richard<br>
                    McClintock, a Latin professor at Hampden-<br>
                    Sydney College in Virginia, looked up one of<br>
                    the more obscure Latin words, consectetur,<br>
                    from a Lorem Ipsum passage, and going<br>
                    through the cites of the word in classical<br>
                    literature, discovered the undoubtable<br>
                    source.
                </p>
            </div>
            <div class="grid-item">
                <p>
                    Contrary to popular belief, Lorem Ipsum is<br>
                    not simply random text. It has roots in a <br>
                    piece of classical Latin literature from 45<br>
                    BC, making it over 2000 years old. Richard<br>
                    McClintock, a Latin professor at Hampden-<br>
                    Sydney College in Virginia, looked up one of<br>
                    the more obscure Latin words, consectetur,<br>
                    from a Lorem Ipsum passage, and going<br>
                    through the cites of the word in classical<br>
                    literature, discovered the undoubtable<br>
                    source.
                </p>
            </div>
            <div class="grid-item">
                <p>
                    Contrary to popular belief, Lorem Ipsum is<br>
                    not simply random text. It has roots in a <br>
                    piece of classical Latin literature from 45<br>
                    BC, making it over 2000 years old. Richard<br>
                    McClintock, a Latin professor at Hampden-<br>
                    Sydney College in Virginia, looked up one of<br>
                    the more obscure Latin words, consectetur,<br>
                    from a Lorem Ipsum passage, and going<br>
                    through the cites of the word in classical<br>
                    literature, discovered the undoubtable<br>
                    source.
                </p>
            </div>
          </div> 
      </section>


      <div class="container">
        
        <ul class="pagination">
          <li class="icon">
            <a href="#"><span class="fa fa-angle-left"></span>Previous</a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li class="icon">
            <a href="#">Next<span class="fa fa-angle-right"></span></a>
          </li>
        </ul>
      </div>

      <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
        <div class="row">
            
            <div class="col-md-4 col-sm-6 col-xs-12">
            <h1>Contact Us</h1>
            <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/rohan.golawar.5" target="about:blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/_int_32" target="about:blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="https://github.com/Sarwesh2003/BloggingWebsite.git" target="about:blank"><i class="fa fa-github"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/sarthak-wakchoure-35a14018a/" target="about:blank"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
            </div>
        </div>
        </div>
    </footer>
      <script src="../main.js"></script>
</body>
</html>